.container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.formulario{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    width: 350px;
}

.btn-create-account{
    background-color: #FFD814;
    width: 100%;
    max-width: 350px;
    margin-bottom: 6px;
}

.btn-create-account:hover{
    background-color: #F7CA00;
}

hr{
    width: 100%;
    border: 1px solid #ccc;
}