<div class="about-us d-flex flex-column">
    <div class="container">
        <div class="row">
            <div class="col-4 column">
                <h5>Quiénes somos</h5>
            </div>
            <div class="col-8 column">
                <p>
                    Amazon se guía por cuatro principios: la obsesión por el cliente, la pasión por la innovación,
                    el compromiso con la excelencia operativa y el pensamiento a largo plazo.
                    Nos esforzamos por ser la empresa más centrada en el cliente del mundo,
                    la mejor empleadora y el lugar más seguro para trabajar.
                    Las opiniones de los clientes, las compras en un solo clic,
                    las recomendaciones personalizadas, el servicio Prime,
                    la Logística de Amazon, AWS, la autopublicación Kindle Direct Publishing,
                    Kindle, el programa de formación Career Choice, los dispositivos Fire,
                    Fire TV, Amazon Echo, Alexa, la tecnología Just Walk Out,
                    Amazon Studios o The Climate Pledge son algunos ejemplos en los que Amazon ha sido pionera.
                </p>
            </div>
        </div>
        <img src="trabajadores.webp" alt="Nuestro trabajores">
    </div>
    <div class="container">

        <div class="row second-row">
            <div class="col-6">
                    <p class="second-row-first-parraf">
                        La mentalidad «Día 1» de Amazon es una cultura y un modelo operativo que pone a nuestros
                        clientes en el centro de todo lo que hacemos, y nos lleva a actuar siempre con la misma
                        energía y espíritu innovador del primer día.
                    </p>
            </div>
            <div class="col-6">
                <p>
                    Trabajar para ganar la confianza del cliente y mantenerla es el hilo conductor principal
                    de la mentalidad «Día 1» de Amazon. Nuestro proceso de toma de decisiones implica pedir
                    a los empleados que consideren si las acciones son como una puerta que solo abre en un
                    sentido, sin posibilidad de volver atrás, o si es como una puerta que abre hacia los dos
                    lados, que permite cambiar el sentido y, por tanto, volver atrás fácilmente.
                </p>
            </div>
        </div>
    </div>
</div>