    .container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.formulario{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    width: 350px;
}

.change-email{
    margin-left: 4px;
}

.btn-login{
    background-color: #FFD814;
    width: 100%;
    max-width: 350px;
    margin-bottom: 6px;
}

.btn-login:hover{
    background-color: #F7CA00;
}

.create-account{
    color: #ccc;
    align-items: center;
    width: 100%;
    max-width: 350px;
}

.button-container{
    width: 100%;
}

.create-account-button{
    background-color: white;
    width: 100%;
    display: block;
    color: black;
}

.create-account-button:hover{
    background-color: #F7FAFA;
    color: black;
}
hr{
    width: 80px;
    border-top: 2px solid #ccc;
}